<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="com.simba.athena.jdbc.Driver"/>
        <property name="url" value="jdbc:awsathena://User=${ACCESS_KEY};Password=${SECRET_KEY};S3OutputLocation=s3://market-gola2;AwsRegion=ap-northeast-2;"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="AthenaMapper.xml"/>
  </mappers>
</configuration>